{
  "extends": "@infinumjs/eslint-config-react",
  "env": {
    "browser": true
  },
  "rules": {
    "react/prefer-stateless-function": [0, false],
    "react/require-optimization": [0, false],
    "react/no-set-state": [0, false],
    "import/prefer-default-export": [0, false],
    "react/jsx-max-depth": [0, false],
    "jsx-a11y/label-has-for": [0, false]
  }
}
